input[type="text"]{
  text-align: center;
  color: #0075ff;
}
.div{
  width: 100%;
}
.div::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  background: #0075ff;
  z-index: -1;
}

.main-div{
  padding-top: 120px;
}

.girls{
  display: none;
}
.transition{
  transition: all 0.2s;
}
.transition:hover{
  transform: translateY(-1px);
}